body{
	background:#66cccc;
    margin:0;
    color:#fff;
    font-size:62.5%;

    
 
}
img { width:50%; }
.fanhui{
	margin:1%;
	width:3rem;
}
.ptt{
	width:15rem;
    margin:0 auto;

      }

.qwe{
	position:absolute;

	margin-left: 30%;
	margin-top:20%;
    text-align:center;
}
	 
.qqq{
	position:absolute;
	margin-left:60%;
	margin-top:20%;
	text-align:center;
}

.com{margin-top:0.01rem;
	font-size:1rem;
}

.wei{text-align:center;
     font-size:1.5rem;
    }
